<script src="../js/models/menu.js"></script>
<script src="../js/models/lang.js"></script>

<header>
    <a class="logo" href="#">
        <img src="../img/favicon.png" alt="DevIt">
        <span><%= localization.sitename %></span>
    </a>
    <ul class="menu">
        <% for (let i in localization.paragraphs) { %>
            <% if (localization.paragraphs[i].hasOwnProperty('items')) { %>
                <li class="dropdown">
                    <a href=""><%= localization.paragraphs[i].title %></a>
                    <ul>
                        <% localization.paragraphs[i].items.forEach((item) => { %>
                            <li class="dropside">
                                <a href=""><%= item.title %></a>
                                <% if (item.hasOwnProperty('items')) { %>
                                    <ul>
                                        <% item.items.forEach((subItem) => { %>
                                            <li><a href=""><%= subItem.title %></a></li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% } else { %>
                    <li><a href=""><%= localization.paragraphs[i].title %></a></li>
            <% } %>
        <% } %>
    </ul>
    <div class="lang">
        <div class="ru">RU</div>
        <div class="ua">UA</div>
    </div>
</header>
